<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>App</title>
  <link rel="stylesheet" href="https://unpkg.com/@atlaskit/css-reset@2.0.0/dist/bundle.css" media="all">
  <script src="https://connect-cdn.atl-paas.net/all.js" async></script>
</head>
<body>
{{ message }}
</body>
</html>
